<div class="main-container" id="main-container">
	<div class="main-container-inner">
		<div class="page-content">
			<div class="row-fluid">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-9">
					<div class="page-content">
						<div class="page-header ">
							<h1>
								Archived Employee
								<small>
									<i class="icon-double-angle-right"></i>									
								</small>
								</br>
							</h1>
						</div><!-- /.page-header -->
						<div class="row form-group">
							<div class="col-xs-12">							
								<input type="text" class="form-control" placeholder="Search" ng-model="searchtext" id="searchText">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="list-group ">
									<a class="list-group-item active">
										List of Archived Employee
									</a>
									<div data-ng-repeat="employee in archievedEmployee|filter:searchtext track by $index">
										<a href="#/archievedEmployee/edit/{{employee._id}}" class="list-group-item"><span class="pull-left">{{employee.employeeNo}}) {{employee.firstName}} {{employee.lastName}}</span>
<!-- <td>{{employee.lastName}}</td> -->

											<i class="icon-edit pull-right"></i><div class="clearfix"></div></a>
									</div>
									<div ng-hide="archievedEmployee" class="list-group-item text-center">
										---
									</div>
								</div>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!--col-sm-9-->
			</div><!--row--fluid-->
		</div><!-- pagecontent-->
	</div><!-- /.main-container-inner -->
</div><!-- /.main-container -->
