<div class="main-container-inner">
	<div class="page-content">
		<div class="row">
		<div class="table-responsive"  >
			<table id="sample-table-2" class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>	
						CompanyId
					</th>
					<th>	
						Company  Name
					</th>					
					<th>	
						EmployeeNo
					</th>
					<th>	
						firstName
					</th>
				</tr>
				<tr ng-if="errors">
					<td colspan="4" class="center error">
							{{errors}}
					 </td>
				</tr>
				<tr ng-if="noRecord">
					<td colspan="4" class="center success">
							{{noRecord}}
					 </td>
				</tr>
				
				</thead>
				<div ng-if="!dataObj">
				    <img src="/images/loading.gif" class="ajax-loader-days"/>
				</div>
				
				<tbody data-ng-repeat="data in dataObj">	
					<tr>	
						<td>
							{{data.companyId}}
						</td>
						<td>
							{{data.companyName}}
						</td>
						<td>
							{{data.employeeNo}}
						</td>
						<td>
							{{data.firstName}}
						</td>
					</tr>	
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>