<div class="main-container" id="main-container">
	<div class="main-container-inner">
		<div class="page-content">
			<div class="row">
				<div class="col-sm-3">
					<div class="list-group">
						<a class="list-group-item active">
							List of Employees (Click Employee to Edit)
						</a>
						<div class="list-group-item">  	
					  	<input type="text" class="form-control" placeholder="Search" ng-model="searchtext" id="searchText">
					  </div>
						<div data-ng-repeat="employee in employeeList|filter:searchtext track by $index">
							<a popover-placement="top" popover-trigger="mouseenter" popover=" Click to Edit " popover-popup-delay="{{delayTime}}" href="#/employee/edit/{{employee._id}}" class="list-group-item"><span class="pull-left"> {{employee.employeeNo}}) {{employee.firstName}}  {{employee.lastName}}</span><i class="icon-edit pull-right"></i>
								<div class="clearfix"></div>
							</a>
						</div>
					</div>
					<input type="hidden" data-ng-model="employee._id" />
				</div>
				<div class="col-sm-9">
					<div class="page-header">
						<h1>
							Time Cloud
							<small>
								<i class="icon-double-angle-right"></i>
								Edit Employee - {{employee.employeeNo}}
							</small>
						</h1>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">
									<div class="space-4"></div>
									<div ng-show = "message.employeeAdded != null">
										<div id="errors" class="span3 alert alert-success">{{message.employeeAdded}}</div>
									</div>
									<div ng-show = "message.employeeErr != null">
										<div id="errors" class="span3 alert alert-danger">{{message.employeeErr}}</div>
									</div>
									<form class="form-horizontal" role="form" name="employeeFrm" method="post">
										<div class="form-group">
											<label class="col-sm-3" for="form-field-1"> First Name </label>
											<div class="col-sm-9">
												<input type="text" id="firstName" data-ng-model="employee.firstName" placeholder="Enter Employee First Name" class="adminClassToDisable col-xs-10 col-sm-5" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3" for="form-field-1"> Last Name </label>
											<div class="col-sm-9">
												<input type="text" id="lastName" data-ng-model="employee.lastName"placeholder="Enter Employee Last Name" class="adminClassToDisable col-xs-10 col-sm-5" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3"> Administrator 
											</label>
											<div class="col-sm-9">
												<input name="switch-field-1" data-ng-model="employee.administrator" class="adminClassToDisable ace ace-switch ace-switch-5" type="checkbox" data-ng-change="admin(employee.administrator)" id="administrator"/>
												<span class="lbl"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3" for="form-field-1"> Email Address </label>
											<div class="col-sm-9">
												<input type="text" id="emailId" data-ng-model="employee.email"placeholder="Enter Employee Email address (Username)" class="adminClassToDisable col-xs-10 col-sm-5" />
											</div>
										</div>
										<div ng-show="password">
											<div class="form-group" >
												<label class="col-sm-3" for="form-field-1"> Password </label>
												<div class="col-sm-9">
													<input type="password" id="userPassword" data-ng-model="employee.pwd" class="adminClassToDisable col-xs-10 col-sm-5" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" />
												</div>
											</div>
										</div>
										<div class="form-group" >
											<label class="col-sm-3" for="form-field-1"> Pin </label>
											<div class="col-sm-9">
												<input type="text" id="pinNumber" data-ng-model="employee.pin" class="col-xs-10 col-sm-5 adminClassToDisable" placeholder="Enter Pin"/>
											</div>
										</div>
										<div ng-show="showDepartment">
											<div class="form-group">
												<label class="col-sm-3" for="form-field-1"> Department </label>
												<div class="col-sm-9">
													<select data-ng-model="employee.department" class="adminClassToDisable col-xs-10 col-sm-5" id="form-field-select-2">
														<option value="">Choose a Department</option>
														<option ng-selected="{{departmentValue.name == employee.department}}" data-ng-repeat="departmentValue in departments" value="{{departmentValue.name}}">{{departmentValue.name}}</option>
													</select>
												</div>
											</div>
										</div>
										<div ng-show="subDepartmentList">
											<div class="form-group">
												<label popover-placement="top" popover-trigger="mouseenter" popover="Select the sub-department the employee belongs to. These were set up in your settings. If the required department isn’t showing then go back to settings to add it." popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1"> Sub-Department </label>
												<div class="col-sm-9">
													<select data-ng-model="employee.subDepartment" class="adminClassToDisable col-xs-10 col-sm-5" id="form-field-select-2">
														<option value="">Choose a Sub-Department</option>
														<option  ng-selected="{{deptValue.name == employee.subDepartment}}" data-ng-repeat="deptValue in subDepartmentList|filter:{parentDeptName:employee.department}" value="{{deptValue.name}}">{{deptValue.name}}</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label popover-placement="top" popover-trigger="mouseenter" popover="Set to YES and push submit to make employee active" popover-popup-delay="{{delayTime}}" class="col-sm-3"> Active </label>
											<div class="col-sm-9">
												<input name="switch-field-1" data-ng-model="employee.active" class="ace ace-switch ace-switch-5 adminClassToDisable" type="checkbox" id="activeUser"/>
												<span class="lbl"></span>
											</div>
										</div>
										<div class="form-group">
											<label  class="col-sm-3" for="form-field-1"> Shift Pattern </label>
											<div class="col-sm-9">
												<select data-ng-model="employee.shift" class="adminClassToDisable col-xs-10 col-sm-5" id="form-field-select-2">
													<option ng-selected="{{shiftPattern.name == employee.shift}}" data-ng-repeat="shiftPattern in shiftPatternList track by $index" value="{{shiftPattern.name}}">{{shiftPattern.name}}</option>
												</select>
											</div>
										</div>
										<div ng-show="payrollData">
											<div class="form-group">
												<label class="col-sm-3" for="form-field-1"> Payroll Code </label>
												<div class="col-sm-9">
													<input type="text" id="payrollCode" data-ng-model="employee.payrollCode"placeholder="Enter Payroll Code" class="adminClassToDisable col-xs-10 col-sm-5" />
												</div>
											</div>
										</div>
										<div ng-show="showhourlywage">
											<div class="form-group">
												<label class="col-sm-3" for="form-field-1"> Hourly Wage</label>
												<div class="col-sm-9">
													<input type="text" id="hourlyWage" data-ng-model="employee.hourlyRate" placeholder="Enter Hourly Wage" ng-change="formatHourlyWage(employee.hourlyRate)" ng-blur="setHourlyWage(employee.hourlyRate)" class="adminClassToDisable col-xs-10 col-sm-5" />
												</div>
											</div>
										</div>
										<div ng-show="showchargeoutrate">
											<div class="form-group">
												<label popover-placement="top" popover-trigger="mouseenter" popover="tooltip" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1"> Charge Out Rate </label>
												<div class="col-sm-9">
													<input type="text" id="chargeOutRate" data-ng-model="employee.chargeoutRate"placeholder="Enter Hourly Charge Out Rate " class="adminClassToDisable col-xs-10 col-sm-5" />
												</div>
											</div>
										</div>

										<div ng-show="defaultJCStatus">
											<div class="form-group">
												<label popover-placement="top" popover-trigger="mouseenter" popover="Allow to update JC when no Work code has been specify in particular attendance" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1"> Default JC</label>
												<div class="col-sm-9">
													<input type="text" id="defaultJC" data-ng-model="employee.defaultJC"placeholder="Enter Default JC" class="adminClassToDisable col-xs-10 col-sm-5" ng-change="formateJC(employee.defaultJC)" ng-blur="formateJC(employee.defaultJC)"/>
												</div>
											</div>
										</div>
										
										<!-- <div class="form-group">
											<label popover-placement="top" popover-trigger="mouseenter" popover="" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1">Job</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" data-ng-model="employee.job" placeholder="Enter Job" class="adminClassToDisable col-xs-10 col-sm-5" />
											</div>
										</div>
										<div class="form-group">
											<label popover-placement="top" popover-trigger="mouseenter" popover="" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1">Task Id</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" data-ng-model="employee.taskId" placeholder="Enter Task Id" class="adminClassToDisable col-xs-10 col-sm-5" />
											</div>
										</div>
										<div class="form-group">
											<label popover-placement="top" popover-trigger="mouseenter" popover="" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1">Staff Id</label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" data-ng-model="employee.staffId" placeholder="Enter Staff Id" class="adminClassToDisable col-xs-10 col-sm-5" />
											</div>
										</div>  -->
										<div ng-show="payrollData">
											<div class="form-group">
												<label class="col-sm-3"> Allow Export </label>
												<div class="col-sm-9">
													<input name="switch-field-1" data-ng-model="employee.allowExport" class="adminClassToDisable ace ace-switch ace-switch-5" type="checkbox" />
													<span class="lbl"></span>
												</div>
											</div>
										</div>
										<div ng-show="showDepartment && employee.administrator && hideDeparmentGui">
											<div class="form-group">
													<label popover-placement="top" popover-trigger="mouseenter" popover="Add Permision for subadmin to view employees of which departments they able to see" popover-popup-delay="{{delayTime}}" class="col-sm-3"> Add Department Permission
													</label>
												<div class="col-sm-5">
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<input type="checkbox" id="selectAllDept" ng-click="selectAllDept();"/>Select All Departments
														</div>
													</div>
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" data-ng-repeat="dept in departments track by $index">
															<input type="checkbox" checklist-model="employee.permission" checklist-value="dept.name" id="{{dept._id}}" ng-click="addDepartmentName(dept._id,dept.name);" class="selectAllDept" name="departmentName" value="{{dept.name}}"> {{dept.name}}
														</div>
													</div>
												</div>
											</div>
										</div>
										<div ng-show="showHolidays">
											<div class="form-group">
												<label popover-placement="top" popover-trigger="mouseenter" popover="tooltip" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1"> Holiday Multiplier </label>
												<div class="col-sm-9">
													<select class="adminClassToDisable col-xs-10 col-sm-5" id="form-field-select-2">
														<option value="AL">Select Holiday Multiplier</option>
														<option value="AK">dep2</option>
														<option value="AZ">dep3</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label popover-placement="top" popover-trigger="mouseenter" popover="tooltip" popover-popup-delay="{{delayTime}}" class="col-sm-3" for="form-field-1"> Holiday Region </label>
												<div class="col-sm-9">
													<select class="adminClassToDisable col-xs-10 col-sm-5" id="form-field-select-2">
														<option value="AL">Country only</option>
														<option value="AK">dep2</option>
														<option value="AZ">dep3</option>
													</select>
													<span class="help-inline col-xs-12 col-sm-7">
														<span class="middle"> <small>(Note: if a region a selected then the regional holidays plus the country holidays will be used)</small></span>
													</span>
												</div>
											</div>
										</div>
										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button id="updateEmp" popover-placement="top" popover-trigger="mouseenter" popover="Click to submit and save changes" popover-popup-delay="{{delayTime}}" type="button" class="btn btn-primary adminClassToDisable" data-ng-click="submitform()">
													<i class="icon-ok bigger-110"></i>
													Save
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>

							<script type="text/ng-template" id="employee.html">
								<div class="modal-header">
									<h3>Create Shift</h3>
								</div>
								<div class="modal-body">
									<h4> Select a date from which date you wants to apply this shift Pattern </h4>
									</br>
									<div ng-show = "message.date != null">
										<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
									</div>
									<label class="col-sm-3"> Date:  </label>
									<input type="text" datepicker-popup="{{format}}" ng-model="dateStart" is-open="opened" max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
									<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
								</div>
							</script>
							<script type="text/ng-template" id="payroll.html">
        <div class="modal-header">
            <h3>Payroll Code</h3>
        </div>
        <div class="modal-body">            
            <h4> Select a date from which date you wants to apply this Payroll Code </h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="hourly.html">
        <div class="modal-header">
            <h3>Hourly wage</h3>
        </div>
        <div class="modal-body">            
            <h4> Select a date from which date you wants to apply this Hourly wage</h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="charge.html">
        <div class="modal-header">
            <h3>Charge Out Rate</h3>
        </div>
        <div class="modal-body">            
            <h4> Select a date from which date you wants to apply this Charge Out Rate </h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 
    <script type="text/ng-template" id="active.html">
        <div class="modal-header">
            <h3>User Active yes/no</h3>
        </div>
        <div class="modal-body">            
            <h4> Select the date you want the employee to be archived on:</h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 
    <script type="text/ng-template" id="export.html">
        <div class="modal-header">
            <h3>Allow Export yes/no</h3>
        </div>
        <div class="modal-body">            
            <h4> Select a date from which date you wants to apply allow export yes/no</h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 
    <script type="text/ng-template" id="department.html">
        <div class="modal-header">
            <h3>Department</h3>
        </div>
        <div class="modal-body">            
            <h4> Select a date from which date you wants to apply this department</h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 
     <script type="text/ng-template" id="name.html">
        <div class="modal-header">
            <h3>Select date for apply Name</h3>
        </div>
        <div class="modal-body">            
            <h4> Select a date from which date you wants to apply this department</h4>
            </br>
            <div ng-show = "message.date != null">
				<div id="errors" class="span3 alert alert-danger">{{message.date}}</div>
			</div>
            <label class="col-sm-3"> Date:  </label>
            <input type="text"			 
             datepicker-popup="{{format}}"                                       
             ng-model="dateStart"
             is-open="opened"
             max="'2045-06-22'" datepicker-options="dateOptions" close-text="Close" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(dateStart)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script> 

						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!--col-sm-9-->
			</div><!--row--fluid-->
		</div><!-- pagecontent-->
	</div><!-- /.main-container-inner -->
</div><!-- /.main-container -->