	
	<div id="footer_container" ng-controller="footerController" ng-hide="{{hideFooter}}">

<!-- footer -->
<div class="clearfix"></div>

<footer>
		

				<div id="navbar" class="navbar navbar-default">

				<div role="navigation">
					<ul class="nav ace-nav" >
						<li class="light-blue col-sm-3">
							<a href="#" popover-placement="top" popover-trigger="mouseenter" popover="tooltip2" popover-popup-delay="{{delayTime}}">
							
								<span>Attendance</span>
							</a>

							
						</li>
						<li class="light-blue col-sm-2">
							<a href="#/shiftpattern" popover-placement="top" popover-trigger="mouseenter" popover="tooltip2" popover-popup-delay="{{delayTime}}">
							
								<span>Shift Patterns</span>
							</a>

							
						</li>

						<li class="light-blue col-sm-2">
							<a href="#/roster" popover-placement="top" popover-trigger="mouseenter" popover="tooltip2" popover-popup-delay="{{delayTime}}">
								<span>Roster</span>
								
							</a>

							
						</li>
						<li class="light-blue col-sm-2">
							<a href="#/reports" popover-placement="top" popover-trigger="mouseenter" popover="tooltip2" popover-popup-delay="{{delayTime}}">
								
								
								<span>Reports</span>
							</a>

							
						</li>

						<li class="light-blue col-sm-3">
							<a href="#/feedback" popover-placement="top" popover-trigger="mouseenter" popover="tooltip2" popover-popup-delay="{{delayTime}}">
								
								<span>Support &amp; Feedback</span>
							</a>

							
						</li>



					

						
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>
			
		

		
	</footer>
	</div>

	