<div class="main-container" id="main-container">
	<div class="main-container-inner">
		<div class="page-content">
			<div class="row">				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<b> Select Departments </b>
							<div class="row form-group">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" data-ng-repeat="dept in departments">
									<input type="checkbox" data-ng-model="departmentName" id="{{dept._id}}" ng-click="selectRecordByDepartmentName(dept._id,dept.name);" />{{dept.name}}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<b> Quick Select </b>
							<table id="sample-table-2" class="table table-bordered">
								<thead >
									<tr>	
										<th> </th>						
										<th ng-click="sortByempNo()" >
											<label id="sort" popover-placement="top" popover-trigger="mouseenter" popover="Sort by Employee No" popover-popup-delay="{{delayTime}}"> No </label>
										</th>
										<th class="empname" ng-click="sortByName()"> <label id="sort" popover-placement="top" popover-trigger="mouseenter" popover="Sort by First Name" popover-popup-delay="{{delayTime}}"> First Name </label> </th>
										<th ng-click="sortByLastName()">  <label id="sort" popover-placement="top" popover-trigger="mouseenter" popover="Sort by Last Name" popover-popup-delay="{{delayTime}}">  Last Name </label>
										</th>
										<th>
											<label id="sort" popover-placement="top" popover-trigger="mouseenter" popover="Sort by Department" popover-popup-delay="{{delayTime}}"> Department </label>	
										</th>
									</tr>
								</thead>
								<tbody data-ng-repeat="employee in employeeList">
									<tr>
										<td style="padding:0px;">
											<input name="employeenumbers" type="checkbox"  class=" {{employee.department|removeSpacesFromDept}} ace" data-ng-model="employeenum" value="{{employee.employeeNo}}" data-ng-change="resetLinks()" />
											<span class="lbl" data-rel="popover" data-trigger="hover" data-placement="right" data-content=""> </span>
										</td>
										<td style="padding:0px;">{{employee.employeeNo}}</td>
										<td style="padding:0px;word-break:break-all" class="empname">
											<a id="employee" style="cursor:pointer" data-ng-click="changeEmployee(employee.employeeNo,fromDate,toDate)" >
											{{employee.firstName}}
											</a>
										</td>
										<td style="padding:0px;word-break:break-all">{{employee.lastName}}</td>
										<td style="padding:0px;word-break:break-all">{{employee.department}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
					<div class="page-header">
						<h1>Timecloud <small> <i class="icon-double-angle-right"></i> View Employees Map </small> </h1>
					</div>
					<form>
						<div class="row form-group">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label class="inline" popover-placement="right" popover-trigger="mouseenter" popover="Select the employee you would like to view." popover-popup-delay="{{delayTime}}" > Selected User: </label>
								<select data-ng-model="employee" class="input-medium" id="form-field-select-2" data-ng-change="changeEmployee(employee,fromDate,toDate)">
									<option value>-- select All --</option>
									<option data-ng-repeat="employees in employeeList" value="{{employees.employeeNo}}"> {{employees.employeeNo}}) {{employees.firstName}} {{employees.lastName}}</option>
								</select>
								<label class="inline" popover-placement="top" popover-trigger="mouseenter" popover=" shows start date - you can select any start date by clicking on the box" popover-popup-delay="{{delayTime}}"> Dates: </label>
								<input  class="input-medium date-picker" data-ng-model="fromDate" id="id-date-picker-1" style="width:94px" type="text" data-date-format="mm-dd-yyyy" datepicker-popup="{{format}}" is-open="opened1" max="'2045-06-22'" datepicker-options="dateOptions" data-ng-change="searchDate(fromDate,toDate)"/>
								<label class="inline" popover-placement="top" popover-trigger="mouseenter" popover="shows the finish date - you can select any finish date by clicking on the box" popover-popup-delay="{{delayTime}}"> To: </label>
								<input  class="input-medium date-picker" data-ng-model="toDate"  id="id-date-picker-2" style="width:94px" type="text"  data-date-format="mm-dd-yyyy"  datepicker-popup="{{format}}"  is-open="opened" max="'2045-06-22'" datepicker-options="dateOptions" data-ng-change="searchDate(fromDate,toDate)" />
								<a popover-placement="top" popover-trigger="mouseenter" popover="click to go back to the previous pay period " popover-popup-delay="{{delayTime}}" class="btn btn-primary no-border btn-sm " ng-click="previousPreriodFun()">Previous Period</a>
								<a popover-placement="top" popover-trigger="mouseenter" popover="click to got to Next pay period" popover-popup-delay="{{delayTime}}" href="" class="btn btn-primary no-border btn-sm" ng-click="nextPreriodFun();">Next Period</a>
								<!-- <a popover-placement="top" popover-trigger="mouseenter" popover="click to got to Next pay period" popover-popup-delay="{{delayTime}}" href="#/maps/{{NextDate | formatDate }}" class="btn btn-primary no-border btn-sm" ng-click="nextPreriodFun();">Next Period</a> -->
							</div>							
						</div>
						<!-- <div class="row form-group">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select data-ng-model="department" class="input-medium pull-right" id="form-field-select-2" ng-change="departmentFilter(department)" data-ng-hide="selectedDept">
									<option value=''>All</option>
									<option data-ng-repeat="departmentValue in departments" value="{{departmentValue.name}}" ng-selected="{{departmentValue.name == deptName}}">{{departmentValue.name}}</option>
								</select>
							</div>
						</div> -->						
					</form>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<map center="[-41,173]" zoom="6" style="height:720px;">
								<div ng-repeat="marker in markers">
									<marker id="{{marker.employeeNo}}" position="{{marker.location}}" on-click="showInfoWindow(event,'{{marker.checkinId}}',{{marker.location}})" fit='true' doCluster="true" clusterEvents="clusterEvents" style="color:{{marker.iconColor}}">
									</marker>
									<info-window id="{{marker.checkinId}}" visible-on-marker="{{marker.employeeNo}}" ng-cloak>
										<div style="max-height: 595px; !important;z-index:999999 !important;">
											<div>
												<b>Lattitude&nbsp;:&nbsp;&nbsp;</b>{{lat}}
												<b>&nbsp;&nbsp;Longitude&nbsp;:&nbsp;&nbsp;</b>{{lng}}
											</div>
											<div ng-show="locations">
												<b>Location&nbsp;:&nbsp;&nbsp;</b>{{locations}}
											</div>
											<div ng-hide="locations">
												<b>Location&nbsp;:&nbsp;&nbsp;</b><img src="../images/ajax-loader.gif" style="width:60px;">
											</div>
											<div id="siteNotice"></div>
											<div id="bodyContent"  style="max-height: 550px; max-width: 650px; display: inherit; overflow-y: auto;" ng-non-bindable >
												<table class="table table-bordered" id="sample-table-2"  style="width: 100%;">
													<thead>
														<tr>
															<th class="text-center">
																<label> EmployeeNo </label>
															</th>
															<th class="text-center">
																<label> First Name </label>
															</th>
															<th class="text-center">
																<label> Last Name </label>
															</th>
															<th class="text-center">
																<label> Date </label>
															</th>
															<th class="text-center">
																<label> In </label>
															</th>
															<th class="text-center">
																<label> Out </label>
															</th>
														</tr>
													</thead>
													<tbody data-ng-repeat="dates in datesArray">
														<tr>
															<td colspan="{{datesArray.length}}" data-ng-repeat="empDetail in marker.employeeDetail|filter:{date:dates}:true|limitTo:1">  <b>
																{{dates|date:'dd-MM-yyyy'}}
																</b>
															</td>
														</tr>		
														<tr data-ng-repeat="empDetail in marker.employeeDetail|filter:{date:dates}:true|orderBy:sorter" class="ng-scope">
															<td>{{empDetail.employeeNo}}</td>
															<td >{{empDetail.firstName}}</td>
															<td >{{empDetail.lastName}}</td>
															<td>
																{{dates|date:'dd-MM-yyyy'}}
															</td>
															<td colspan="2">
																<div data-ng-repeat="emp in empDetail.checkin|orderBy:'checkTime'" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">							
																	<span ng-if="emp.checkTime!=''">
																		{{emp.checkTime|formatTime}}
																	</span>
																	<span ng-if="emp.checkTime==''">
																		---
																	</span>
																</div>					
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</info-window>
								</div>
							</map>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!--row--fluid-->
		</div>
	</div><!-- /.main-container-inner -->
</div><!-- /.main-container -->